rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection
    match /users/{userId} {
      allow read, write: if true;
    }

    // Counters collection
    match /counters/{counterId} {
      allow read, write: if true;
    }

    // Forms collection
    match /forms/{formId} {
      allow read, write: if true;
    }
  }
}
